* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li{
    list-style: none;
}

.mobile {
    display: none;
    cursor: pointer;
}

.mobile div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.4s ease;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
}

.time-container {
    display: flex;
    align-items: baseline;
  }

#time {
    font-size: 8rem;
}

#timeSecond {
    font-size: 3rem;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: .5rem;
    opacity: .6;
}

@media(max-width: 700px) {
    #time {
        font-size: 6rem;
    }
    #timeSecond {
        font-size: 2rem;
    }

    .body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }

    .nav-links li{
        opacity: 0;
    }

    .mobile {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in; 
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}